<html>
<head>
	<title>Ludum Dare 47 - Prototype Zone</title>
	<meta name='viewport' 
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, 
     user-scalable=0' > 
	<style>
		body{ background-color: black; color: black; }
		#overlay { display: none; }
		#gameover { display: none; }
		#credits { display: none; }
		#title { display: block; }
	</style>
</head>
<body>
	<%= require('html-loader!./title.html') %>
	<%= require('html-loader!./overlay.html') %>
	<%= require('html-loader!./gameover.html') %>
	<%= require('html-loader!./credits.html') %>

	<% if(htmlWebpackPlugin.options.analytics_gtag){ %>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.analytics_gtag %>"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
		// todo make this part of webpack env		 
      var ga_measurement_id = '<%= htmlWebpackPlugin.options.analytics_gtag %>'
	  gtag('config', ga_measurement_id );
	</script>
	<% } %>

</body>
</html>
