body{ 
    background-color: #000; 
    width: 100%; 
    height: 100%; 
    margin: 0px; 
    padding: 0px; 
    
}
::selection {
    color: none;
    background: none;
}
.title {
    position: absolute;
    width: 100%;
    top: 0px;
    color: #efefef;
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    position: absolute;
}
.title .difficulty {
    font-size: 12pt;
    margin-bottom: 1em;
}
.title button {
    padding: 20px;
    font-size: 24pt;
    cursor: pointer;
}
#overlay {
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: white;
    overflow:hidden;
    pointer-events: none;
}
.hud {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height:100%;
    font-size: 8pt;
    text-align: center;
    margin: auto;
}
.hud #clock {
    font-size: 72px;
    width:100%;
}
.hud button {
    padding: 20px;
    margin-right: 30px;
    font-size: 14pt;
    background-color: #333;
    color: #fff;
}
#health {
    height: 15px;
    margin: auto;
    
}
@media only screen and (max-width: 600px) {
    #health { width: 300px; }
}
@media only screen and (min-width: 600px) {
    #health { width: 500px; }
}

#healthbar {
    width: 100%;
    height: 100%;
    
    text-align: right;
}
#score {
    position: absolute;
    top: 4px;
    left: 4px;
    color: #0f0;
    height: 1em;
}
#flash {
    z-index: 1000;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fd3;
    font-size: 64pt;
    font-weight: bold;
}

.title .instructions {
    font-size: 12pt;
}
#credits {
    font-size: 10pt;
    padding-top: 100px;
    line-height: 1.5em;
}

#credits a {
    color: #0f0;
}
#credits button {
    padding: 10px;
    font-size: 12pt;
}
